* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #cf0909;
    background-color: #070000;
    font-family: 'Russo One', sans-serif;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    width: 15em;
    margin: auto;
}

#minutes {
    font-size: 5em;
}

#seconds {
    font-size: 2em;
}
