* {
    box-sizing: border-box;
}

body {
    background-color: #9e9d9d;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #cf0909;
    background-color: #070000;
    font-family: 'Russo One', sans-serif;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    width: 15em;
    margin: auto;
    border-radius: 25px;
    background-color: #070000;
    
}

#minutes {
    font-size: 5em;
    color: rgb(23, 243, 23);
}

#seconds {
    font-size: 2em;
    color: rgb(23, 243, 23);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}