* {
    box-sizing: border-box;
}

body {
    background-color: #81caf5;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #f8f8f8;
    background-color: #070000;
    font-family: 'Russo One', sans-serif;
    padding: 10px;
    letter-spacing: 2px;
    
}

#instructions {
    font-size: 20px;
}

#begin {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(19, 36, 192);
    box-shadow: 10px 10px 20px #494545;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    width: 15em;
    margin: auto;
    border-radius: 30px;
    background-color: #070000;
    box-shadow: 10px 20px 20px #494545;
}

#minutes-display {
    font-size: 5em;
    color: rgb(23, 243, 23);
}

#seconds-display {
    font-size: 2em;
    color: rgb(23, 243, 23);
}

.hidden {
    visibility: hidden;
}

